*{
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#100020ff, #200030ff, #000);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
}



header{
    border-bottom: 2px solid #ff0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100vw;
    height: 25px;
}



main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-grow: 1;
flex-shrink: 0;
width: 100vw;


}
#datas{
    display: flex;
    padding: 40px;
    border: 2px solid #ff0;
    font-size: 40px;
    border-radius: 50px;
}

#ControlsB{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 50px;
    justify-content: center;
    gap: 25px;
    align-items: center;
}
.ControlButtons{
    width: 200px;
    height: 30px;
    border: 2px solid #0b8;
    border-radius: 5px;
    color: #000;
    font-size: 25px;
}
#RunButton{
    background-color: #0f45;
}
#ResetButton{
    background-color: #aa0f;
}
#PauseButton{
    background-color: #f005;
}

#CheckpointsControl{
    display: flex;
    flex-direction: row;/* it does not need to as it is default but i prefer to sometimes */ 
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    gap: 25px;
}
.ControlCheckpoint{
    width: 160px;
    height: 25px;
    border: 2px solid #0b8;
    color: #000;
    font-size: 15px;
    border-radius: 5px;
}
#AddCheckpoints{
background-color: #f60d;
}
#RemCheckpoints{
    background-color:#a05d;
}



footer{
    border-top: 2px solid #ff0;
    color: #f00;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100vw;
    height: 300px;
    overflow: auto;
}
hr{
    width: 95vw;
    border-color: #ff0;
}
#CheckpointsOutput{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: aquamarine;
}
footer::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
footer::-webkit-scrollbar-thumb{
    background: linear-gradient(270deg,#000 , #f00);
    border-radius: 10px;
}
footer{
scrollbar-width: thin;
scrollbar-color: #f00 #000;
}
/*To Be Continued