<!--
    Counter Project ; HTML Part; V: Alpha0.1
-->
<!DOCTYPE html>
<html lang="en">
<%- include('../baseStructures/head.ejs') %>
<body>
    <%- include('../baseStructures/header.ejs') %> 
    <%- include('../baseStructures/main.ejs') %>
    <%- include('../baseStructures/footer.ejs') %>
    <script src="js/FooterControl.js"></script>
    <script src="js/index.js"></script>
</body>
<link rel="stylesheet" href="css/style.css">
</html>